.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.dashboard a {
  color: #00102d; /* Make links inside dashboard cards dark */
}

.recipes, .inventory {
    background-color: white;
    color: #00102d;
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

.recipes:hover, .inventory:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}


.recipeList, .inventoryList {

  padding: 1rem;

}

/* Import Recipe Form Styles */
.import-recipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #00102d;
  border-radius: 1rem;
  padding: 1rem;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.import-recipe:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.import-recipe p {
  font-size: 0.9em;
  color: #555;
}

.import-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: auto; /* Pushes form to the bottom */
}

.import-form input, .import-form button {
  padding: 10px;
  border-radius: 5px;
}