.pantry-container {
    display: flex;
    gap: 2rem;
    max-width: 1100px;
    margin: auto;
    align-items: flex-start;
}

.pantry-list {
    flex: 2;
    background-color: #e6ebf9;
    color: #00102d;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
}

.pantry-list h2, .pantry-add-form h2 {
    text-align: center;
    margin-top: 0;
}

.pantry-list table {
    width: 100%;
    border-collapse: collapse;
}

.pantry-list th, .pantry-list td {
    padding: 12px 15px;
    border-bottom: 1px solid #00102d;
}

.pantry-list th {
    text-align: left;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #00102d;
}

.pantry-list .remove-btn {
    color: #00102d;
    font-size: 0.9em;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.pantry-list .remove-btn:hover {
    color: #554761;
}

.pantry-add-form {
    flex: 1;
    background-color: #e6ebf9;
    color: #00102d;
    border-radius: 1rem;
    padding: 2rem;
}

.pantry-add-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}