@import "https://fonts.googleapis.com/css?family=Roboto";

body {

  margin: 0;

  padding: 0.5rem;

  font-family: "Roboto";

  background-color:#00102d;

  text-align: center;

  color: #e6ebf9;

}


header {

  padding: 0.5rem;

  margin-bottom: 2rem;

  display: flex;

  justify-content: space-between;

  align-items: center;

  position: sticky;

  border-bottom: 1px solid #95b4e6;

}

footer {
  position: absolute;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #95b4e6;
  font-size: 0.9em;
  color: #95b4e6;
  bottom: 25px;
  width: 100%;

}

p {

  margin: 0;
  
}

a {

  text-decoration: none;

}

.links a {

  color: #e6ebf9;

  padding: 0.5rem;

  transition: color 0.2s ease-in-out;

}


.links a:hover {

  color: #95b4e6;

}

.title a {

  color: #95b4e6;

}

button {
    padding: 12px;
    background-color: #00102d;
    color: #e6ebf9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #554761;
}

button a{
    color:#e6ebf9;
}

input {
    padding: 10px;
    background-color: #e6ebf9;
    border: 2px solid #00102d;
    border-radius: 5px;
    transition: border 0.2s ease-in-out;
}

input:focus-visible {
    border: 2px solid #554761;
    outline: none;
}