<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCP</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <header>
    <h2 class="title">College Cooking Pamphlet</h2>
    <div class="links">
      <a href="index.html">Dashboard</a>
      <a href="recipie.html">Cook Book</a>
      <a href="inventory.html">Pantry</a>
    </div>
  </header>

  <div class="dashboard">
    <div class="recipes">
      <h3>Cook Book</h3>
      <div class="recipeList">
        <p>American Tacos</p>
        <p>Quesadilla</p>
        <p>Pasta</p>
      </div>
    </div>
    <div class="inventory">
      <h3>Pantry</h3>
      <div class="inventoryList">
        <p>Milk: 1 gallon</p>
        <p>Beef: 2 pounds</p>
        <p>Cheese: 1 pound</p>
      </div>
    </div>
  </div>
</body>
</html>
