<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCP</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <header>
    <h2 class="title">College Cooking Pamphlet</h2>
    <div class="links">
      <a href="/">Dashboard</a>
      <a href="/recipie/One-Pan Chicken and Rice">Cook Book</a>
      <a href="/pantry">Pantry</a>
    </div>
  </header>

  <div class="dashboard">
    <div class="recipes">
      <h3>Cook Book</h3>
      <div class="recipeList">
        <a href="/recipie/American Tacos"><p>American Tacos</p></a>
        <a href="/recipie/Quesadilla"><p>Quesadilla</p></a>
        <a href="/recipie/Pasta"><p>Pasta</p></a>
        <a href="/recipie/Chicken and Rice"><p>Chicken and Rice</p></a>
        <!-- Add more links here as you add recipes -->
      </div>
    </div>
    <div class="inventory">
      <h3>Pantry</h3>
      <div class="inventoryList">
        <p>Milk: 1 gallon</p>
        <p>Beef: 2 pounds</p>
        <p>Cheese: 1 pound</p>
      </div>
    </div>
  </div>
</body>
</html>
