{% include 'header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="recipe-container">
        <div class="recipe-header">
            <img src="{{ recipe.image_url or 'https://i.imgur.com/vDe2Tmr.png' }}" alt="{{ recipe.name }}">
            <div class="recipe-header-info">
                <h1>{{ recipe.name }}</h1>
                <p>{{ recipe.description }}</p>
                <div class="recipe-actions">
                    <button>Meal Plan</button>
                    <button>Groceries</button>
                    <button><a href="{{ url_for('edit_recipe', recipe_name=recipe.name) }}">Edit Recipe</a></button>
                </div>
            </div>
        </div>

        <div class="recipe-body">
            <div class="ingredients-column">
                <h2>Ingredients</h2>
                {% for category, items in recipe.ingredients.items() %}
                    <h3>{{ category }}</h3>
                    <ul>
                        {% for item in items %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>

            <div class="method-column">
                <h2>Method</h2>
                {% for category, steps in recipe.instructions.items() %}
                    <h3>{{ category }}</h3>
                    <ol>
                        {% for step in steps %}
                            <li>{{ step }}</li>
                        {% endfor %}
                    </ol>
                {% endfor %}

                {% if recipe.notes %}
                    <h3>Notes</h3>
                    <p style="white-space: pre-wrap;">{{ recipe.notes }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Find all the ingredient list items
            const ingredientItems = document.querySelectorAll('.ingredients-column li');

            // Add a click event listener to each one
            ingredientItems.forEach(item => {
                item.addEventListener('click', () => item.classList.toggle('checked'));
            });
        });
    </script>
{% include 'footer.html' %}